@import "~theme/variables.scss";

:global(.IssuesList) {
  :global(.IssuesList__IssueRow) {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    padding: $padding * 2;
    border-bottom: 1px solid #E6E6E6;
    color: $text-color-minor;
    cursor: pointer;
    min-height: 74px;

    &:hover {
      background: $grey-x-light;
    }

    h4 {
      color: $black;
      font-size: 16px;
      margin-bottom: $padding;
      font-weight: bold;
    }

    &:global(.resolved) {
      h4 {
        color: $text-color-minor;
        span {
          color: $brand-success;
        }
      }
    }

    :global(.IssueRow__middle) {
      flex: 1;
    }

    :global(.IssueRow__cta) {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      color: $text-color-minor;
      fill: $text-color-minor;
    }
  }
}
