{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "modules": false,
      "useBuiltIns": true,
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
