{
  "parser": "babel-eslint",
  "extends": "zoetrope",

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "globals": {
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  }
}
