{
  "parser": "babel-eslint",
  "extends": "zoetrope",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": 'webpack.dev.js'
      }
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "globals": {
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },
  "rules": {
    "curly": ["error", "multi"]
  }
}
