{
  "parser": "babel-eslint",
  "extends": "zoetrope",
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "globals": {
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },

  "rules": {
    "curly": ["error", "multi"],
    "no-return-assign": ["error", "except-parens"],
  }
}
