[submodule "src/modules/zconnect-web"]
	path = src/modules/zconnect-web
	url = https://github.com/zconnect-iot/zconnect-web.git
[submodule "src/modules/zconnect-js"]
	path = src/modules/zconnect-js
	url = https://github.com/zconnect-iot/zconnect-js.git
