@import './colors';

$text-color: $gray;
$text-color-minor: $light-gray;
$text-color-light: $off-white;

$border-radius: 5px;
$border-width: 1px;
$border-style: solid;
$border-color: $pale-gray;
$border: $border-width $border-style $border-color;

// Structure
$padding: 8px;

// Backgrounds
$bg-light: #fff;
$bg-light-alternate: $off-white;
$bg-dark: $pale-gray;
$bg-darker: $lighter-gray;

// Fonts
$font-size-base: 12px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$font-family: $font-family-sans-serif;

$font-size-largest: 1.3rem;
$font-size-larger: 1.2rem;
$font-size-large: 1.1rem;
$font-size-small: 0.9rem;
$font-size-smaller: 0.8rem;
$font-size-smallest: 0.7rem;

// Animations / transitions
$transition-duration: 0.2s;


html, body {
  font-family: $font-family;
  color: $text-color;
  fill: $text-color;
  height: 100%;
  background: $off-white;
  font-size: $font-size-base;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: left;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1.06rem;
}

// Generic colours.
:global(.bg-) {
  &:global(primary) { background-color: $brand-primary; }
  &:global(secondary) { background-color: $brand-secondary; }
  &:global(success) { background-color: $brand-success; }
  &:global(warning) { background-color: $brand-warning; }
  &:global(danger) { background-color: $brand-danger; }
  &:global(info) { background-color: $brand-info; }

  &:global(light) { background-color: $bg-light; }
  &:global(dark) { background-color: $bg-dark; }
  &:global(darker) { background-color: $bg-darker; }
}
:global(.text-) {
  &:global(primary) { color: $brand-primary; fill: $brand-primary; }
  &:global(secondary) { color: $brand-secondary; fill: $brand-secondary; }
  &:global(success) { color: $brand-success; fill: $brand-success; }
  &:global(warning) { color: $brand-warning; fill: $brand-warning; }
  &:global(danger) { color: $brand-danger; fill: $brand-danger; }
  &:global(info) { color: $brand-info; fill: $brand-info; }

  &:global(minor) { color: $text-color-minor; fill: $text-color-minor; }
  &:global(light) { color: $text-color-light; fill: $text-color-light; }
}

:global(.Page .Content__header .Button) {
  height: 30px;
  min-width: initial;
  padding: 2px 6px 2px 0;

  > * {
    margin-left: 6px;
  }
}

:global(.Content__header) h4 {
  font-size: 1.4rem;
}

:global(.List__filter) {
  margin-bottom: 10px;
}

:global(.List__settings-toggle) {
  display: none;
}

:global(.SelectField .SelectField__select) {
  padding: 4px;
  border-radius: 3px;
}

:global(.Logo) {

  &:global(.Logo--small) {
    margin-left: 15px;
    min-width: 400px;
    height: 25px;
  }

  // This removes the logo from the login page.
  &:global(.Logo--large) {
    height: 0px;
  }
}

:global(.spinIcon) {
  :global(.Icon) {
    animation: spin 1s linear infinite;
    transform-origin: 54% 50%;
  }
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
  }
}

:global(.Card__title) {
  height: 54px;
  padding: 0 16px;
  vertical-align: middle;
}

:global(.Card__border-top) {
  padding: 20px;
}

:global(.margin-top) {
  margin-top: $padding * 2;
}

:global(.List__pagination) {
  margin-top: $padding;
  display: flex;
  flex-direction: row;
  justify-content: center;

  select, button {
    height: 30px;
    background: white;
    border: 1px solid $brand-info;
    border-radius: $border-radius;
    background: white;
    color: $text-color;
    font-size: 14px;
    cursor: pointer;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  select {
    min-width: 36px;
    margin: 0 $padding;
  }
}
