@import './mixins';
@import './variables';

html, body {
  font-family: $font-family;
  color: $text-color;
  height: 100%;
  background: $page-bg;
  font-size: $font-size-base;
  background-attachment: fixed;
}

html>body>div {
  height: 100%;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: left;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1.06rem;
}

// Generic colours.
:global(.bg-) {
  &:global(primary) { background-color: $brand-primary; }
  &:global(secondary) { background-color: $brand-secondary; }
  &:global(success) { background-color: $brand-success; }
  &:global(warning) { background-color: $brand-warning; }
  &:global(danger) { background-color: $brand-danger; }
  &:global(info) { background-color: $brand-info; }
  &:global(grey) { background-color: $brand-grey; }

  &:global(light) { background-color: $bg-light; }
  &:global(dark) { background-color: $bg-dark; }
  &:global(darker) { background-color: $bg-darker; }

  &:global(device) { background-color: $device-color; }
  &:global(ui) { background-color: $ui-color; }
  &:global(gateway) { background-color: $gateway-color; }
  &:global(server) { background-color: $server-color; }

}
:global(.text-) {
  &:global(primary) { color: $brand-primary; fill: $brand-primary;  }
  &:global(secondary) { color: $brand-secondary; fill: $brand-secondary;  }
  &:global(success) { color: $brand-success; fill: $brand-success; }
  &:global(warning) { color: $brand-warning; fill: $brand-warning }
  &:global(danger) { color: $brand-danger; fill: $brand-danger; }
  &:global(info) { color: $brand-info; fill: $brand-info; }
  &:global(grey) { color: $brand-grey; fill: $brand-grey; }

  &:global(minor) { color: $text-color-minor; fill: $text-color-minor; }
  &:global(light) { color: $text-color-light; fill: $text-color-light; }

  &:global(device) { color: $device-color; fill: $device-color; }
  &:global(ui) { color: $ui-color; fill: $ui-color; }
  &:global(gateway) { color: $gateway-color; fill: $gateway-color; }
  &:global(server) { color: $server-color; fill: $server-color; }
}

// Adding styles to components
:global(.Panel) {
  box-shadow: $shadow;

  :global(.Panel__header) {
    padding-left: $padding*2;
  }

  :global(.Panel__onClick) {
    margin: -$padding * 2;
    padding-right: $padding * 2;
    padding-left: $padding * 6;
    align-self: stretch;

    &:hover {
      background: linear-gradient(to left, $grey-x-light 70%, white)
    }
  }

  :global(.Panel__footer) {
    cursor: pointer;

    &:hover {
      background: $grey-x-light;
    }
  }
}

:global(.layout-splitter) {
  position: relative;

  &:after {
    content: "";
    width: 2px;
    height: 18px;
    left: 1px;
    top: calc(50% - 9px);
    position: absolute;
    background: repeating-linear-gradient(white, white 2px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 5px)
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: white;

  &:horizontal {
    height: 10px;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: lighten($brand-grey, 10%);

  &:hover {
    background: lighten($brand-grey, 20%);
  }
}
