// Colours
$brand-primary: #00B798;
$brand-secondary: #2A9FD8;
$brand-success: #00B898;
$brand-warning: #F2994A;
$brand-danger: #EB5757;
$brand-info: #B5B5B5;
$brand-grey: #B5B5B5;

$device-color: #F2994A;
$gateway-color: #00B898;
$server-color: #702B84;
$ui-color: #48B0F7;

$black: #2C2C2C;
$grey-light: #E6E6E6;
$grey-x-light: #f2f2f2;

$text-color: $black;
$text-color-minor: #808080;
$text-color-light: #f8f8f8;

$link-color: $brand-secondary;

$timeline-color: #bbb;

$border-radius: 6px;
$border-width: 1px;
$border-faint: $grey-light;
$border-style: solid;
$border-color: $border-faint;
$border: $border-width $border-style $border-color;

// Structure
$padding: 8px;

// Backgrounds
$bg-light: #F5F5F5;
$bg-light-alternate: aliceblue;
$bg-dark: #f0f3f4;
$bg-darker: #adadad;
$header-bg-light: #f6f8f8;

// Fonts
$font-size-base: 12px;
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$font-family: $font-family-sans-serif;

$font-size-largest: 1.6rem;
$font-size-larger: 1.4rem;
$font-size-large: 1.2rem;
$font-size-small: 0.8rem;
$font-size-smaller: 0.7rem;
$font-size-smallest: 0.6rem;

// Components
$page-max-width: 1000px;
$page-bg: $bg-light;

$header-bg: #2C313B;
$header-color: white;

$nav-bg: white;
$nav-color: #808080;
$nav-active-color: #48B0F7;

$content-bg: $page-bg;
$content-color: $text-color;
$content-header-bg: #F5F8F8;
$content-header-color: $text-color;

$logo-small: url('assets/logo-light.svg');

$tooltip-icon-color: $text-color;
$tooltip-bg: $page-bg;
$tooltip-color: $text-color;
$tooltip-border-radius: $border-radius;
$tooltip-border-width: $border-width;
$tooltip-border-color: $text-color;

$drawer-alpha: 0.25;
$drawer-inner-z-index: 1000;

$codeblock-bg: $bg-light;
$codeblock-border: 1px solid #E6E6E6;
$codeblock-color: #808080;

$panel-bg: white;
$panel-color: $black;

$statcard-bg: white;
$statcard-color: $text-color-minor;

$message-bg: white;
$message-color: $text-color-minor;

$spinner-color: $brand-primary;
$spinner-speed: 1s;

// Checkboxes.
$checked-image-url: url('/icons/checked.svg');
$unchecked-image-url: url('/icons/unchecked.svg');

// Animation
$transition-duration: 0.5s;

// Shadows
$shadow: 1px 1px 3px 1px #e6e6e6;
