@import '~theme/variables.scss';


.Notifications__list {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin: 0 16px;
}

.Notifications__item {
  padding: 16px 0;
  border-bottom: 1px solid $border-faint;
  &:last-child {
    border-bottom: none;
  }
}

.Notifications__icon {
  margin-right: 10px;
}

.Notifications__text {
  margin-right: 0.4em;
  &:last-child {
    margin-right: 0;
  }
}
