:global(.NotificationsToggle__controls) {
  display: flex;
}

:global(.NotificationsToggle__button) {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 60px;
}
