@import 'zc-web/components/forms/mixins.scss';

.NestedFields {
  @include form-control;
}

.FieldLabel {
  @include form-label;
}

.ChildFields {
  flex: 1;

  :global(.TextField),
  :global(.CheckboxField),
  :global(.DateField),
  :global(.EmailField),
  :global(.PasswordField),
  :global(.SelectField) {
    padding: 0;
    margin-bottom: $padding;
    border-bottom: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  :global(.TextField__label),
  :global(.CheckboxField__label),
  :global(.DateField__label),
  :global(.EmailField__label),
  :global(.PasswordField__label),
  :global(.SelectField__label) {
    font-weight: normal;
  }
}
