@import '~theme/variables.scss';

.AuthRouter {
  height: 100%;
  padding: 0;
  background-image: url('assets/mesh.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-size: 14px;

  :global(.row) {
    height: 100%;
  }

  .main {
    background: white;
  }

  :global(.Logo) {
    background-image: url('assets/logo.svg');
    background-position: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $padding * 2;

    label {
      display: none;
    }

    :global(.TextField), :global(.PasswordField) {
      border: none;
      padding: 0;
      width: 100%
    }

    div {
      input {
        border-bottom: none;
        border-radius: 0;
      }
      &:first-of-type {
        input {
          border-radius: $border-radius $border-radius 0 0;
        }
      }
      &:last-of-type {
        input {
          border-radius: 0 0 $border-radius $border-radius;
          border-bottom: 1px solid $border-color;
        }
      }
    }
  }

  :global(.Button) {
    border-radius: 18px;
    margin-top: $padding * 2;
    padding: 0 $padding * 2;
  }

  a {
    color: $brand-primary;
  }

  :global(.Login) {
    height: 100%;
    width: 100%;

    :global(.Login__form) {
      border: none;
      width: 266px;
      flex: initial;

      form::before {
        content: 'Sign in to your account';
        font-size: 24px;
        margin-bottom: $padding * 2;
      }
    }
  }

  :global(.Forgotten) {
    height: 100%;
    width: 100%;

    :global(.Forgotten__form) {
      border: none;
      width: 266px;
      flex: initial;

      form::before {
        content: 'Forgot your password?';
        font-size: 24px;
        margin-bottom: $padding * 2;
      }

      :global(.TextField) input {
        border-radius: $border-radius;
      }
    }
  }

  :global(.Register) {
    height: 100%;
    width: 100%;

    :global(.Register__form) {
      border: none;
      width: 266px;
      flex: initial;

      form::before {
        content: 'Register with Overlock';
        font-size: 24px;
        margin-bottom: $padding * 2;
      }
    }
  }
}
