.UserToggle > button {
  background: transparent;
  border: none;
  color: white;
  fill: white;
  padding: 0;
  width: 30px;
  height: 30px
}

.UserToggleContent {
  padding: 20px;

  .Button {
    margin-bottom: 20px;
  }
}
