@import '~theme/variables.scss';


.Building {
  border: 1px solid red;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;

  :global(.StatCard__description) {
    text-transform: uppercase;
    font-size: $font-size-small;
  }
}

.BuildingName {
  padding-top: 4px;
  font-weight: bold;
}

.IconWrapper {
  position: relative;
}

.WarningIcon {
  position: absolute;
  top: -10px;
  right: 0;
}
