@import "~theme/variables.scss";

.Dashboard {
  :global(.Content__header) {
    display: none;
  }

  .title {
    display: flex;
    justify-content: center;
    margin-bottom: $padding;
    margin-top: $padding * 2;
  }

  .underline {
    display: block;
    margin: 0 auto $padding * 4;
  }

  .issuesList {
    margin-bottom: $padding * 2;
  }


  .products {
    h2 {
      margin-bottom: $padding * 2;
    }
  }
}
